// Page background color
$BACKGROUND_COLOR: #fad4a2;

// Color of buttons in edit panel
$BUTTON_COLOR: #ea6412;

// Amount of rounding to give Launch Control container corners
$LAUNCH_CONTROL_BORDER_RADIUS: 20px;

// Paddinng for Launch Control container
$LAUNCH_CONTROL_PADDING: 35px;

// Background color for Launch Control container
$LAUNCH_CONTROL_COLOR: #222;

// Knob diameter, slider width, and button width
$CONTROL_SIZE: 80px;

// Height of slider control
$SLIDER_HEIGHT: $CONTROL_SIZE * 3 + 10px;

// Height of button control
$BUTTON_HEIGHT: $CONTROL_SIZE * 0.5;

// X spacing between controls.
$X_SPACING: 5px;

// Color of lines outlining controls
$LINE_COLOR: #777;

// Background color to highlight controls with when being edited
$HIGHLIGHT_CONTROL_COLOR: #ea6412;

// Background color to highlight controls with when hovered
$HOVER_CONTROL_COLOR: #333;

// General

body {
  animation: fadeIn 1s ease-in-out;
  background-color: $BACKGROUND_COLOR;
}

// Fade in animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Edit Panel

div.edit-panel {
  background-color: $LAUNCH_CONTROL_COLOR;
  border-radius: $LAUNCH_CONTROL_BORDER_RADIUS;
  color: white;
}

.toolbar-btn {
  background-color: $BUTTON_COLOR;
  border-color: $BUTTON_COLOR;
  color: white;
}

.toolbar-btn:hover {
  color: white;
  background-color: $HOVER_CONTROL_COLOR;
  border-color: $HOVER_CONTROL_COLOR;
}

h1.instructions {
  font-size: 16px;
}

// Controls

div.launch-control-container {
  border: 1.5px solid $LINE_COLOR;
  border-radius: $LAUNCH_CONTROL_BORDER_RADIUS;
  padding: $LAUNCH_CONTROL_PADDING;
  background-color: $LAUNCH_CONTROL_COLOR;
  color: white;
}

div.control {
  text-align: center;
  font-weight: 500;
  padding: 2px;
  overflow-wrap: break-word;
  font-size: 12px;
}

div.control:hover {
  background-color: $HOVER_CONTROL_COLOR;
}

div.knob {
  // width: $CONTROL_SIZE;
  // height: $CONTROL_SIZE;
  // border-radius: 50%;
  // border: 1px solid $LINE_CVOLOR;
  margin: $X_SPACING;
  // Make text vertically centered
  padding-top: 20px;
}

circle.knob.highlight {
  fill: $HIGHLIGHT_CONTROL_COLOR;
}

div.slider {
  height: $SLIDER_HEIGHT;
  width: $CONTROL_SIZE;
  margin: $X_SPACING;
  border: 1px solid $LINE_COLOR;
  overflow-wrap: break-word;
}

div.button {
  height: $BUTTON_HEIGHT;
  width: $CONTROL_SIZE;
  margin: $X_SPACING;
  border: 1px solid $LINE_COLOR;
}

.control-line {
  stroke-width: 1;
  stroke: $LINE_COLOR;
  fill: transparent;
}

.control-bold-line {
  stroke-width: 2;
  stroke: $LINE_COLOR;
  fill: transparent;
}

.control-label {
  fill: white;
}

svg.highlight {
  // Important so that it overrides hover highlight color
  background-color: $HIGHLIGHT_CONTROL_COLOR !important;
}

div.slider-text {
  margin-top: -$SLIDER_HEIGHT / 2;
}
