// Page background color
$BACKGROUND_COLOR: #fad4a2;

// Color of buttons in edit panel
$BUTTON_COLOR: #ea6412;

// Amount of rounding to give Launch Control container corners
$LAUNCH_CONTROL_BORDER_RADIUS: 20px;

// Paddinng for Launch Control container
$LAUNCH_CONTROL_PADDING: 35px;

// Background color for Launch Control container
$LAUNCH_CONTROL_COLOR: #222;

// Knob diameter, slider width, and button width
$CONTROL_SIZE: 80px;

// Height of slider control
$SLIDER_HEIGHT: $CONTROL_SIZE * 3 + 10px;

// Height of button control
$BUTTON_HEIGHT: $CONTROL_SIZE * 0.5;

// X spacing between controls.
$X_SPACING: 5px;

// Color of lines outlining controls
$LINE_COLOR: #777;

// Background color to highlight controls with when being edited
$HIGHLIGHT_CONTROL_COLOR: #ea6412;

// Background color to highlight controls with when hovered
$HOVER_CONTROL_COLOR: #fff1;

// General

body {
  animation: fadeIn 1s ease-in-out;
  background-color: $BACKGROUND_COLOR;
}

// Fade in animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Edit Panel

div.edit-panel {
  background-color: $LAUNCH_CONTROL_COLOR;
  border-radius: $LAUNCH_CONTROL_BORDER_RADIUS;
  color: white;
}

// Load / Save button
.toolbar-btn {
  background-color: $BUTTON_COLOR;
  border-color: $BUTTON_COLOR;
  color: white;
}

// Load / Save button hover
.toolbar-btn:hover {
  color: white;
  background-color: $HOVER_CONTROL_COLOR;
  border-color: $HOVER_CONTROL_COLOR;
}

// "Instructions" header
h1.instructions {
  font-size: 16px;
}

// Controls

// Container for entire launch control diagram
div.launch-control-container {
  border: 1.5px solid $LINE_COLOR;
  border-radius: $LAUNCH_CONTROL_BORDER_RADIUS;
  padding: $LAUNCH_CONTROL_PADDING;
  background-color: $LAUNCH_CONTROL_COLOR;
  color: white;
}

// Circular div positioned absolutely on knobs to allow hover highlighting
div.knob-circle {
  position: absolute;
  top: $CONTROL_SIZE / 4;
  left: 0;
  width: $CONTROL_SIZE;
  height: $CONTROL_SIZE;
  border-radius: 50%;
  background-color: none;
}

div.knob-circle:hover {
  background-color: $HOVER_CONTROL_COLOR;
}

// Container div for knob SVG and label
div.knob {
  margin: $X_SPACING;
  padding-top: 20px;
}

// Knob label positioned absolutely to overlap SVG
p.knob-label {
  position: absolute;
  top: $CONTROL_SIZE / 2.25;
  text-align: center;
  font-size: smaller;
  font-weight: 500;
  color: white;
}

// Knob SVG circle
circle.knob {
  fill: transparent;
}

// Highlight knob when selected
circle.knob.highlight {
  fill: $HIGHLIGHT_CONTROL_COLOR;
}

// Slider container div containing SVG and label div
div.slider {
  height: $SLIDER_HEIGHT;
  width: $CONTROL_SIZE;
  margin: $X_SPACING;
  border: 1px solid $LINE_COLOR;
}

// Highlight slider when selected
rect.slider.highlight {
  fill: $HIGHLIGHT_CONTROL_COLOR !important;
}

// Highlight slider when hovered. Using the label div for convenience as it
// takes up the same shape as the SVG slider rect.
div.slider-label:hover {
  background-color: $HOVER_CONTROL_COLOR;
}

// Slider label positioned absolutely over SVG
div.slider-label {
  height: $SLIDER_HEIGHT;
  width: $CONTROL_SIZE;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  font-weight: 500;
}

// Wrap text in control labels
.label-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

// Button control on Launch Control diagram
div.button {
  height: $BUTTON_HEIGHT;
  width: $CONTROL_SIZE;
  margin: $X_SPACING;
  border: 1px solid $LINE_COLOR;
  font-size: smaller;
  font-weight: 500;
  text-align: center;
}

// Highlight button when selected
div.button.highlight {
  background-color: $HIGHLIGHT_CONTROL_COLOR !important;
}

// Highlight button when hovered
div.button:hover {
  background-color: $HOVER_CONTROL_COLOR;
}

// Line in control SVG
.control-line {
  stroke-width: 1;
  stroke: $LINE_COLOR;
  fill: transparent;
}

// Bold line in control SVG
.control-bold-line {
  stroke-width: 3;
  stroke: $LINE_COLOR;
  fill: transparent;
}
